
/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
    margin: 0;
    padding: 0;
  }
  /* Reiknum stærð á öllum boxum sem border-box */
  html {
    box-sizing: border-box;
    font-family: 'Lora', serif;
    font-size: 16px;
    
  }
  /* og látum erfast á allt */
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* hjálpar class sem felur sjónrænt en skjálesarar lesa */
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  header {
    display: block;
    text-align: center;
    color: #ffe7ae;
    background-color: #2f0505;
    border-bottom: 10px solid;
    border-bottom-color: #ffe7ae; 
  }
  nav {
    padding: 1rem;
    background-color: #fff9ee;
    margin-bottom: 1rem;
  }
  nav ul{
    text-align: center;
  }
  nav ul li {
    display: inline;
    padding-right: 1rem;
  }

  nav ul li:last-child{
    padding-right: 0rem;
  }

  main{
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    min-height: 60vh;
  }
  main .content{
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    text-align: center;
    margin-bottom: 1rem;
    border-bottom: 4px solid #ffe7ae;
  }
  main .content .box{
    margin: 0 auto;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    text-align: left;
    padding-bottom: 10px;
  }
  main .content ul li{
    list-style-type: none;
    display: inline-block;
    text-align: left;
    padding: 2rem 5rem 2rem 5rem;
  }
  body{
    min-height: 100vh;
  }
  tbody tr:nth-child(odd){
    background-color: #ffe7ae ;
  }

  footer{
    background-color:#2f0505;
    color: #ffe7ae;
    border-top: 10px solid;
    border-top-color: #ffe7ae; 

  }
  footer .content{
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    text-align: center;
  }
  footer .content .box{
    display: inline-block;
    width: 30%;
    vertical-align: top;
  }