/* Reset og border-box á allt */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Leturgerðir */

/** Hér skal skilgreina leturgerðir **/

/* Stillingar */

:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --font-base-body-px: 16px;
  --spacing: 1rem;

  /* Hámarksbreidd á efni */
  --max-width: 900px;

  /* Border breiddir */
  --border-small: 1px;
  --border-large: 8px;
  --border-radius: 6px;

  /* Litir */
  --color-gold: #ffe7ae;
  --color-gold-light: #fff1cf;
  --color-dark: #2f0505;
  --color-light: #fff9ee;

  /* Letur stillingar */
  --font-base-size: 1rem;
  --font-family-base: 'Noto Sans Display', Helvetica, Arial, sans-serif;
  --font-family-heading: 'Lora', Georgia, serif;
}

/* Almennt */

/** Skilgreininar sem gilda fyrir allt efni og nota type selectora **/

html,
input,
select,
button {
  font-size: var(--font-base-size);
  font-family: var(--font-family-base);
}

h1,
h2,
h3 {
  font-family: var(--font-family-heading);
}

a {
  color: inherit;
  background-color: inherit;
}

img {
  max-width: 100%;
}

/** Hjálpar class sem felur sjónrænt en skjálesarar lesa **/
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Layout */

.wrapper {
  display: flex;
  flex-direction: column;
}
h1{
  margin-bottom: var(--spacing);
}

/** Haus **/

body > header {
  padding: var(--spacing);
  background-color: var(--color-dark);
  color: var(--color-gold-light);
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/** Valmynd **/

.nav {
  margin-bottom: var(--spacing);
  padding: var(--spacing);

  background-color: var(--color-light);
  color: var(--color-dark);
  border-bottom: var(--border-large) solid var(--color-gold);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav ul {
  list-style: none;
  gap: var(--spacing);
  display: flex;
}

.nav ul li {
  display: flex;
}

/** Meginmál **/

.main {
  margin: 0 auto;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  max-width: var(--max-width);
}

.main > section > h2{
  margin-bottom: var(--spacing);
}

.main > section > p{
  margin-bottom: var(--spacing);
}

/** Fótur **/

.footer {
  margin-top: var(--spacing);
  padding: var(--spacing);
  border-top: var(--spacing);
  gap: var(--spacing);

  background-color: var(--color-dark);
  color: var(--color-gold-light);

  text-align: center;

  display: flex;
  justify-content: center;
}

.footer ul {
  list-style-type: none;
  list-style: none;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Box! */

.boxes {
  margin-bottom: var(--spacing);
  padding-bottom: var(--spacing);
  gap: var(--spacing);
  display: flex;
  flex-wrap: wrap;
}

.boxes .box {
  list-style-type: none;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing);

  width: 48%;
  background-color: var(--color-gold-light);
  border-radius: var(--border-radius);
}

.boxes .box p{
  flex: 1;
  margin-bottom: var(--spacing);
}

.boxes .box h3 {
  border-bottom: var(--border-small) var(--color-dark) solid;
  margin-bottom: var(--spacing);
}

.boxes .box a {
  font-weight: bold;
}

.boxes .box > img{
  height: 400px;
  object-fit: cover;
  object-position: 50% 0%;
}

/** Og fleiri selectorar... **/

/* Opnunartími */

dt {
  font-weight: bold;
}

dd {
  margin-bottom: var(--spacing);
}

/**
Hér eru skilgreiningar sem endurnýta má úr v3, með takmörkunum.
**/

/* Matseðill */

.table {
  margin-bottom: var(--spacing);
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}

table th,
table td {
  padding: 0.5rem;
}

table tbody tr:nth-child(2n + 1) {
  background-color: var(--color-gold);
}



/**
Hér eru skilgreiningar sem endurnýta má úr v3, með takmörkunum.
**/

/* Pöntunarform */

fieldset {
  margin-bottom: var(--spacing);
  border: var(--border-small) solid var(--color-dark);
  padding: var(--spacing);
}

fieldset legend {
  font-weight: bold;
}

fieldset div {
  margin-bottom: var(--spacing);
}

fieldset div label {
  display: block;
}

fieldset input,
fieldset select,
fieldset textarea {
  padding: 0.5rem;
}

fieldset input[type='checkbox'] {
  display: inline-block;
  margin-right: 0.5rem;
}

form button {
  width: 100%;
  padding: 0.25rem;
  border-radius: var(--border-radius);
}

/**
Hér eru skilgreiningar sem endurnýta má úr v3, með takmörkunum.
**/